
<%- include('../organisms/head'); -%>
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <%- include('../organisms/header'); -%>
    <%- include('../organisms/menu'); -%>


    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper p-0">

        </div>
    </div>
    <!-- END: Content-->
    <%- include('../organisms/customizer'); -%>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>


    <%- include('../organisms/footer'); -%>
    <%- include('../organisms/script'); -%>


    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

<%- include('../organisms/end'); -%>
